.table {
  width: 100%;
  margin-bottom: 20px;
}

.table thead {
  background: gainsboro;
}

.table thead tr {
  text-align: left;
}

.table thead tr th {
  padding: 10px 20px
}

.table .risers {
  background: seagreen;
  color: white
}

.table .fallers {
  background: firebrick;
  color: white
}

.table td {
  padding: 10px 20px;
}

.h1 {
  font-size: 40px;
}

.h1 span {
  color: seagreen;
}